DirectoryIndex index.html

RewriteEngine On

# redirect http -> https (also works behind the server's proxy)
RewriteCond %{HTTPS} !on
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://tomoiki-lab.org/$1 [R=301,L]

# redirect www -> no www
RewriteCond %{HTTP_HOST} ^www\.tomoiki-lab\.org$ [NC]
RewriteRule ^(.*)$ https://tomoiki-lab.org/$1 [R=301,L]

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/png "access plus 30 days"
  ExpiresByType image/jpeg "access plus 30 days"
  ExpiresByType image/svg+xml "access plus 30 days"
  ExpiresByType image/webp "access plus 30 days"
</IfModule>
